<ion-view view-title="Início">
  <ion-content class="inicio">
    <img class="img-responsiva" src="img/secomp.png">
    <div class="row" align="center">
      <div class="col">
        <h4>
          "Ciência Alimentando o Brasil" é o tema escolhido para esta edição da Semana Nacional de Ciência e Tecnologia (SNCT). A motivação para a escolha baseia-se na decisão da Assembleia Geral das Nações Unidas, que proclamou 2016 como o Ano Internacional da Leguminosas (AIL).
        </h4>
      </div>
    </div>
  </ion-content>
</ion-view>
