<ion-view view-title="Palestrante">
  <ion-content class="palestrante">
    <div class="list card" ng-click="exibirAmanda()">
      <div class="item item-avatar">
        <img src="img/amanda.jpg">
        <h2>Amanda Louzada</h2>
        <p>18 de Outubro de 2016</p>
      </div>
    </div>
    <div class="list card" on-hold="exibirWarley()">
      <div class="item item-avatar">
        <img src="img/warley.jpg">
        <h2>Warley Gramacho</h2>
        <p>18 de Outubro de 2016</p>
      </div>
    </div>
  </ion-content>
</ion-view>
